
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Werde Lehrer für private Computerkurse in deiner Stadt.">
    <meta name="author" content="Max Karl">
    <title>private Computerkurse in deiner Stadt - Lehrer werden</title>
    <meta property="og:title" content="ComputerkursePrivat" />
    <meta property="og:description" content="Verdiene Geld als Lehrer für private Computerkurse in Deutschland und Österreich." />
    <meta property="og:image" content="https://www.computerkurseprivat.de/img/header4.jpg" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!--<script src="js-webshim/minified/polyfiller.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--css von test-->
    <link rel="stylesheet" type="text/css" href="knowledge_test/style.css">
  </head>
  <body id="page-top">
    <section class="bg-primary" id="test">
      <div class="container test_main">
          
     
        <script>
         
              var personID = 1;
              var last_test_date = 2;
              var date = 52081995;
        </script>
        
        <noscript>
          <h1>Leider können Sie diesen Test nur durchführen wenn Ihr Javascript aktiviert ist.</h1>
        </noscript>
        <script src="knowledge_test/test_application.js"></script>

<div test ng-app="test_application">
  <div ng-controller="test_controller">
   
    <div class="intro" ng-show="test_start">
      <h1 class="test_heading">Wir testen Ihre Fähigkeiten</h1>
      <hr class="light">
     
    
<button class="btn btn-default btn-lg test_start_button" ng-click="start()">Beginnen Sie den Test</button>
    </div>
    
    <div ng-show="test_runs">
      <div class="row">
        <div class="col-md-3 timer">Testdauer: {{timer}}</div>
        <div class="col-md-3 col-md-offset-6 question_count">Frage: {{question_number}}/{{question_number_all}}</div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%"></div>
      </div>
      <div class="category">Kategorie: {{category}}</div>
      <!--Öffne Typ 1 mit Checkboxen-->
      <div ng-show="type1">
        <img ng-show="image" ng-src="{{question.img}}"  alt="Frage Bild" class="question_image"><br>
        <h3>{{question.question}}</h3>
        <p>(Es können mehrere Antworten richtig sein.)</p>
        <ul class="radio_checkbox">
          <li ng-repeat="option in question.options"><input type="checkbox" ng-model="selected[option.id]" id="select{{option.id}}"> <label for="select{{option.id}}">{{option.name}}</label>
        </ul>
        <br><br>
        <div class="row">
          <div class="col-md-4 col-md-offset-8"><button ng-click="nextQuestion()" class="btn btn-default btn-lg next_button" ng-disabled="check_checkbox(selected)">nächste Frage</button></div>
        </div>
      </div>
      <!--data-ng-click="ShowSelected()"-->
      <!--Öffne Typ 2 mit Radiobuttons-->
      <div ng-show="type2">
        <img ng-show="image" ng-src="{{question.img}}" alt="Frage Bild" class="question_image"><br>
        <h3>{{question.question}}</h3>
        <p>(Nur eine Antwort ist richtig.)</p>
        <ul class="radio_checkbox">
          <li ng-repeat="option in question.options"><input type="radio" name="answer" ng-model="$parent.radioSelected[question.id]" value="{{option.id}}" id="radio{{option.id}}"> <label for="radio{{option.id}}">{{option.name}}</label>
        </ul>
        <br><br>
        <div class="row">
          <div class="col-md-4 col-md-offset-8"><button ng-click="nextQuestion()" class="btn btn-default btn-lg next_button" ng-disabled="check_radio(radioSelected[question.id])">nächste Frage</button></div>
        </div>
        </form>
      </div>
      <!--ng-model="selected[option.id]"-->
      <!--Öffne Typ 3 mit drag and drop-->
      <div ng-show="type3">
        <img ng-show="image" ng-src="{{question.img}}" alt="Frage Bild" class="question_image"><br>
        <h3>{{question.question}}</h3>
        <p>(Sie können die Inhalte per 'Drag and Drop' in die Antwortfelder bewegen.)</p>
        <div class="row">
          <div class="col-md-6 drag_div_wrapper" ng-repeat="option in question.options">
            <div id="div{{option.id}}" class="drag_div steps" ondrop="drop(event,this)" ondragover="allowDrop(event)"><span class="answer_element" id="{{option.id}}" draggable="true" ondragstart="drag(event)">{{option.name}}</span></div>
          </div>
        </div>
        <br>
        <center><strong>&darr; Auswahl nach unten ziehen &darr;</strong></center>
        <h3>Ihre Antwort:</h3>
        <p>(Beachten Sie die Reihenfolge. Starten Sie bei Feld '1' und füllen Sie die Felder fortlaufend aus. Es müssen nicht alle Felder ausgefüllt werden.)</p>
        <div class="row">
          <div class="col-md-6 drop_div_wrapper" ng-repeat="option in question.options">
            <div id="target{{option.id}}" class="drop_div steps" ondrop="drop(event,this)" ondragover="allowDrop(event)">{{$index+1}}:</div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-4 col-md-offset-8"><button ng-click="nextQuestion()" class="btn btn-default btn-lg next_button" ng-disabled="check_drop()">nächste Frage</button></div>
        </div>
      </div>
      <!--Öffne Typ 4 mit input field-->
      <div ng-show="type4">
        <img ng-show="image" ng-src="{{question.img}}" alt="Frage Bild" class="question_image">
        <br>
        <h3>{{question.question}}</h3>
        <p>(Bitte alles in Großbuchstaben ausfüllen und keine Leerzeichen sowie führende '=' verwenden. Wir gehen von deutschsprachiger Software aus.)</p>
        <div class="row">
          <div class="col-md-4 drag_div_wrapper" ng-repeat="inputfield in question.inputfields"><label for="inputfield{{inputfield.id}}">{{inputfield.name}}: </label> <input type="text" id="inputfield{{inputfield.id}}" ng-model="input_values[inputfield.id]"></div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-4 col-md-offset-8"><button ng-click="nextQuestion()" class="btn btn-default btn-lg next_button" ng-disabled="check_input(input_values)">nächste Frage</button></div>
        </div>
      </div>
    </div>
    <!--Test Feedback-->
    <div ng-show="feedback_send">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="test_heading">Feedback</h1>
          <hr class="light">
          <p class="text-center">Wie empfanden Sie den Test?</p>
          <label class="control-label">Länge des Tests</label>
          <div class="controls">
            <label class="radio-inline" for="length-0">
            <input type="radio" name="test_feedback_length" id="length-0" ng-model="feedback.length" value="-2">
            viel zu kurz
            </label>
            <label class="radio-inline" for="length-1">
            <input type="radio" name="test_feedback_length" id="length-1" ng-model="feedback.length" value="-1">
            zu kurz
            </label>
            <label class="radio-inline" for="length-2">
            <input type="radio" name="test_feedback_length" id="length-2" ng-model="feedback.length" value="0">
            angemessen
            </label>
            <label class="radio-inline" for="length-3">
            <input type="radio" name="test_feedback_length" id="length-3" ng-model="feedback.length" value="1">
            zu lange
            </label>
            <label class="radio-inline" for="length-4">
            <input type="radio" name="test_feedback_length" id="length-4" ng-model="feedback.length" value="2">
            viel zu lange
            </label>
          </div>
          <br>
          <label class="control-label">Schwierigkeit des Tests</label>
          <div class="controls">
            <label class="radio-inline" for="level-0">
            <input type="radio" name="test_feedback_level" id="level-0" ng-model="feedback.level" value="-2">
            viel zu leicht
            </label>
            <label class="radio-inline" for="level-1">
            <input type="radio" name="test_feedback_level" id="level-1" ng-model="feedback.level" value="-1">
            zu leicht
            </label>
            <label class="radio-inline" for="level-2">
            <input type="radio" name="test_feedback_level" id="level-2" ng-model="feedback.level" value="0">
            angemessen
            </label>
            <label class="radio-inline" for="level-3">
            <input type="radio" name="test_feedback_level" id="level-3" ng-model="feedback.level" value="1">
            zu schwer
            </label>
            <label class="radio-inline" for="level-4">
            <input type="radio" name="test_feedback_level" id="level-4" ng-model="feedback.level" value="2">
            viel zu schwer
            </label>
          </div>
          <br><br>
          <button type="button" ng-click="save_user_feedback()" class="btn btn-default btn-lg center" ng-disabled="check_feedback(feedback)">Test abschließen</button>    
        </div>
      </div>
    </div>
    <!--Testende-->
    <div ng-show="test_end">
      <h1 class="test_heading">Ihr Test ist zu Ende</h1>
      <hr class="light">
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Vielen Dank für Ihre Teilnahme. Ihr Feedback wurde gesendet und wird zur Verbesserung des Tests ausgewertet.</p>
          <div class="end_points center">
            <h2>Ihre Auswertung:</h2>
            <div class="row">
              <div class="col-md-6"><strong>Computer Grundlagen:</strong></div>
              <div class="col-md-6">leicht:  <strong>{{correct_questions.computer_easy}}/3</strong>
                <br>mittel:  <strong>{{correct_questions.computer_middle}}/4</strong>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6"><strong>Internet Grundlagen:</strong></div>
              <div class="col-md-6">leicht:  <strong>{{correct_questions.internet_easy}}/3</strong>
                <br>mittel:  <strong>{{correct_questions.internet_middle}}/4</strong>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6"><strong>Office Grundlagen:</strong></div>
              <div class="col-md-6">leicht:  <strong>{{correct_questions.office_easy}}/3</strong>
                <br>mittel:  <strong>{{correct_questions.office_middle}}/3</strong>
                <br>schwer: <strong>{{correct_questions.office_heavy}}/1</strong>
              </div>
            </div>
            <br>
            <p class="total_score">Korrekte Fragen insgesamt: {{correct_questions.computer_easy+correct_questions.computer_middle+correct_questions.internet_easy+correct_questions.internet_middle+correct_questions.office_easy+correct_questions.office_middle+correct_questions.office_heavy}}/21</p>
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Auswertung öffnen</button>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Ihre Auswertung</h4>
            </div>
            <div class="modal-body">
              <div ng-repeat="question in all_questions">
                <div>
                  <h3 class="statistic_question">{{$index+1}}. {{question_catalog.questions[question.questionID].question}}</h3>
                  <span class="statistic_category"><strong>Kategorie: </strong>{{question_catalog.questions[question.questionID].category}}</span>
                  <div class="row">
                    <div class="col-md-6">
                      <strong>Ihre Antworten:</strong>
                      <div ng-repeat="answers in question.user_choice">
                        <div ng-if="question_catalog.questions[question.questionID].type == 4">{{$index+1}}. {{answers}}</div>
                        <div ng-if="question_catalog.questions[question.questionID].type != 4">{{$index+1}}. {{question_catalog.questions[question.questionID].options[answers-1].name}}</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <strong>Korrekte Antworten:</strong>
                      <div ng-repeat="correct_answers in question_catalog.questions[question.questionID].answers">
                        <div ng-if="question_catalog.questions[question.questionID].type == 4">{{$index+1}}. {{correct_answers.text}}</div>
                        <div ng-if="question_catalog.questions[question.questionID].type != 4">{{$index+1}}. {{question_catalog.questions[question.questionID].options[correct_answers.id-1].name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default center" data-dismiss="modal">Schließen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





      </div>
    </section>

  </body>
</html>